/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --text-color: rgb(255, 255, 255);
  --text-color-hover: rgba(229, 252, 96, 0.445);
  --text--color-text: rgb(204, 204, 204);
  --button-color: rgb(228, 252, 96);
  --button-hover: rgb(255, 255, 255);
  --logo-color: rgb(228, 252, 96);
  --body-color: rgb(0, 0, 0);
  --container-color: rgb(1, 0, 1);

  /*========== Font and typography ==========*/
  --body-font: "Releway Open Sans", sans-serif;
  --h1-font-size: 7rem;
  --h2-font-size: 3rem;
  --h3-font-size: 1.3rem;
  --h4-font-sise: 1.1rem;
  --normal-font-size: 1.2rem;
  --small-font-size: 0.913rem;
  --smaller-font-size: 0.75rem;
  --big-font-size: 1.8rem;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

/*==================== MEDIA QUERIES ====================*/
/*=====small screens=====*/
@media only screen and (max-width: 500px) {
  :root{
  --body-font: "Releway Open Sans", sans-serif;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.3rem;
  --h4-font-sise: 1.1rem;
  --normal-font-size: 1.2rem;
  --small-font-size: 0.913rem;
  --smaller-font-size: 0.75rem;
  --big-font-size: 1.8rem;
  }
   /*=========== NAV =============*/
  .nav {
    width: 100%;
    height: 10vh;
    justify-content: space-around;
  }
  .nav__logo {
    margin: 0;
  }
  .nav__list {
    display: flex;
    margin: 0 0.5rem;
  }
  /*=========== HOME =============*/
.home__container {
  width: 100%;
  height: 100vh;
  margin: 0;
}
.home__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home__bg {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: 100%;
}
.home__col-1 {
  width: 100%;
  top: 1rem;
  left: -1.5rem;
  height: auto;
  background-color: var(--body-color);
  position: relative;
  flex-direction: column;
}
.home__subtitle {
 margin-top: 1rem;
}
.home__title {
 margin-top: 1rem;
}
.home__button {
  position: relative;
  bottom: 0;
  margin-top: 4rem;
}
 /*=========== ABOUT =============*/
 .about__container{
  width: 100%;
  height: auto;
  margin: 3rem 0;
 } 
 .about__content {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.about__data {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0.5rem;
}
.about__title {
  margin-top: 1rem;
  line-height: 50pt;
}
.about__subtitle {
  margin-top: 1rem;
}
.about__description {
  width: 100%;
  margin-top: 1rem;
}
.about__col {
  width: 100%;
}
.about__paragraph{
  width: 95%;
  text-align: justify;
} 
.img-mobile{
  display: none;
}
.about__button {
 margin: 3rem 0.5rem;
}
/*======= DESCRIPTION PWR =========*/
.description-pwr__container {
  width: 100%;
  height: auto;
  margin: 3rem 0;
}
.description__titles {
  align-items: initial;
  padding: 1.5rem;
  margin: 0;
}
.description__subtitle {
 width: 100%;
}
.description__title {
  line-height: 0;
  margin: 3rem 0;
}
.description-pwr__content {
  width: 100%;
  flex-direction: column;
}
.description-pwr__col {
  margin: 1rem;
  gap: 30px;
}
.description__data {
  align-items: center;
  gap: 40px;
}
.description-pwr__img {
  width: 100%;
}
/*=========== TECHNOLOGY ==========*/
.technology__container {
  width: 100%;
  height: auto;
  margin: 3rem 0;
  flex-direction: column;
  position: relative;
}
.technology__titles {
  width: 100%;
  bottom: 0;
  align-items: initial;
  margin: 0 1.5rem;
}
.technology__subtitle {
  margin-right: 0;
}
.technology__title {
  line-height: 0pt;
  margin: 3rem 0;
}
.technology__img-background{
  display: none;
}
.technology__col {
  width: 100%;
  align-items: initial;
  padding: 1.5rem;
}
.technology__col-1 {
  width: 100%;
  align-items: initial;
  padding: 1.5rem;
}

.technology__data {
  width: 100%;
  position: relative;
  bottom: 0;
}
.technology__paragraph1 {
  width: 100%;
}
.technology__paragraph2 {
  width: 100%;
}
.technology__img {
  width: 400px;
  position: absolute;
  top: -5rem;
  left: 0;
  right: 0;
  margin: auto;
}
/*========  IN MIND ==========*/
.mind__container {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
}
.mind__title {
  line-height: 50pt;
  margin-top: 1.5rem;
}
.mind__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
}
.mind__row-img {
  min-width: 50%;
}
/*==================== CONTACT ME ====================*/
.contact__content{
 width: 100%;
}
.contact__subtitle {
  letter-spacing: 2px;
  margin: 4rem 1rem 2rem;
}
.contact__title-form {
padding-left: 1rem;
}
.contact__icon {
  font-size: 3rem;
  margin-top: 1rem;
  padding-left: 1rem;
}
.contact__form {
  width: 90%;
}
.contact__nav {
  width: 100%;
  align-items: initial;
}
.contact__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}
.contact__item {
  margin-right: 0;
}
.contact__link {
  font-size: var(--normal-font-size);
}

/*==================== FOOTER ====================*/
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
}

.footer__logo{
  margin-bottom: 2rem;
}

.footer__contact {
  margin: 0;
  padding-bottom: 2rem;
}

.footer__subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__social {
  display: flex;
  align-items: initial;
  margin: 0;
}

.footer-link {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.footer__legend{
margin-top: 3rem;
  padding-bottom: 2rem;
}
}

