* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*==================== REUSABLE CSS CLASSES ====================*/

/*==================== LAYOUT ====================*/

.container-fluid {
  max-width: 100%;
  background-color: var(--container-color);
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*==================== NAV ====================*/
.nav {
  width: 95%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--logo-color);
  font-size: var(--big-font-size);
  font-weight: 700;
  margin: 2rem;
}

.nav__span {
  color: var(--logo-color);
}

/*
@media screen and (max-width: 767px) {
  .nav__menu {

}
*/
.nav__list {
  display: flex;
  margin-right: 3rem;
}

.nav__item {
  margin-left: 15px;
}

.nav__link {
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

/*==================== HOME ====================*/

.home__container {
  width: 100%;
  margin: 0.5rem;
}

.home__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home__background {
  width: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.home__column {
  width: 50%;
  top: 0;
  right: 0;
  height: 96vh;
  background-color: rgba(255, 255, 255, 0.075);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: end;
}

.home__img {
  position: absolute;
  top: 0;
  left: 4rem;
}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 5%;
  margin-bottom: 25px;
}

.home__title {
  font-size: var(--h1-font-size);
  font-weight: 700;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  margin-left: var(--mb-0-5);
  letter-spacing: 2px;
}

.home__button {
  position: absolute;
  bottom: -28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: var(--mb-0-5);
}

/*==================== BUTTONS ====================*/

.button {
  width: 130px;
  height: 60px;
  display: flex;
  background-color: var(--button-color);
  border: none;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--button-hover);
}

.button__span {
  color: var(--body-font);
  font-size: var(--normal-font-size);
}

.button__icon {
  border: solid 2px var(--button-color);
  background-color: rgba(255, 255, 255, 0.075);
  color: var(--button-color);
  padding: 18.4px;
}

/*==================== ABOUT ====================*/
.about__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem;
  padding: 2.7rem;
}

.about__data {
  margin: 10rem 0 0 4rem;
  padding: 0;
}

.about__title {
  font-size: var(--h1-font-size);
  font-weight: 700;
  line-height: 80pt;
  text-transform: uppercase;
}

.about__subtitle {
  font-size: var(--h3-font-size);
  margin: 0 0 1rem 0.5rem;
  letter-spacing: 2px;
}

.about__description {
  display: flex;
  margin-top: 2rem;
}

.about__col {
  width: 70%;
}

.about__paragraph {
  width: 80%;
  margin-left: 0.5rem;
  padding-bottom: 2rem;
  font-size: var(--small-font-size);
  color: var(--text--color-text);
}

.about__button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about__img {
  min-width: 300px;
  height: auto;
}

/*==================== DESCRIPTION PWR ====================*/
.description__titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__subtitle {
  font-size: var(--h3-font-size);
  margin-right: 20.8rem;
  letter-spacing: 2px;
}

.description__title {
  font-size: var(--h1-font-size);
  font-weight: 700;
  line-height: 95pt;
  text-transform: uppercase;
  margin-bottom: 7rem;
}

.description-pwr__content {
  max-width: 95%;
  display: flex;
}

.description-pwr__column {
  margin: 4rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.description__data {
  display: flex;
  align-items: center;
  gap: 40px;
}

.description-pwr__span {
  font-size: var(--h3-font-size);
  letter-spacing: 2px;
}

.description__paragraph {
  font-size: var(--small-font-size);
  width: 80%;
  margin-top: 20px;
  margin-left: 56px;
}

.description-pwr__icon {
  color: var(--button-color);
}

.description-pwr__img {
  background-color: var(--button-color);
  display: flex;
  justify-content: center;
  width: 45%;
}

.description__img {
  min-width: 300px;
}

/*====================  TECHNOLOGY====================*/
.technology__container {
  display: flex;
  flex-direction: row;
}

.technology__titles {
  width: 100%;
  display: flex;
  position: relative;
  bottom: -12rem;
  flex-direction: column;
  align-items: center;
}

.technology__subtitle {
  font-size: var(--h3-font-size);
  margin-right: 41.5rem;
  letter-spacing: 2px;
}

.technology__title {
  font-size: var(--h1-font-size);
  font-weight: 700;
  line-height: 95pt;
  text-transform: uppercase;
  margin-bottom: 7rem;
}

.technology__content {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.technology__column {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

.technology__data {
  width: 400px;
  position: relative;
  bottom: -10rem;
}

.technology__span {
  font-size: var(--h3-font-size);
  margin-top: 3rem;
  letter-spacing: 2px;
}

.technology__paragraph1 {
  font-size: var(--small-font-size);
  width: 48%;
  line-height: 2rem;
  margin-top: 1rem;
}

.technology__paragraph2 {
  font-size: var(--small-font-size);
  width: 70%;
  line-height: 2rem;
  margin-top: 1rem;
}

.technology__img {
  position: relative;
  top: -4rem;
  left: -25rem;
  z-index: 100;
}

/*====================  IN MIND ====================*/
.mind__container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}

.mind__subtitle {
  font-size: var(--h3-font-size);
  letter-spacing: 2px;
}

.mind__title {
  font-size: var(--h1-font-size);
  font-weight: 700;
  line-height: 90pt;
  text-transform: uppercase;
}

.mind__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
}

.mind__row-img {
  min-width: 50%;
}

/*==================== CONTACT ME ====================*/

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__subtitle {
  font-size: var(--h3-font-size);
  letter-spacing: 2px;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.contact__title-form {
  font-size: var(--h2-font-size);
}

.contact__icon {
  font-size: 5rem;
  margin: 2rem 0 0 3rem;
  color: var(--button-color);
}

.contact__form {
  width: 62%;
}

.form--input {
  border: solid 4px var(--button-color);
  background-color: rgba(255, 255, 255, 0.075);
  height: 80px;
  padding-left: 1rem;
}

.form--input:hover {
  border: solid 4px var(--button-hover);
}

::placeholder {
  color: var(--text-color);
}

.contact__input {
  width: 100%;
  height: 80px;
}

.contact__nav {
  width: 62%;
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact__list {
  display: flex;
  padding: 0;
  margin: 0;
}

.contact__item {
  margin-right: 6rem;
}

.contact__link {
  font-size: var(--big-font-size);
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--text-color);
}

/*==================== FOOTER ====================*/

.footer {
  background-image: url(/project/src/img/ea71bb_4f6381151e9b431f82c1210950ca5873_mv2.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 6rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  margin: 4rem 0 4rem;
}

.footer__span {
  color: var(--logo-color);
  font-size: var(--big-font-size);
  font-weight: 700;
}

.footer__paragraph {
  font-size: var(--small-font-size);
}

.footer__contact {
  margin: 4rem 0 4rem;
}

.footer__subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: 5rem;
}

.footer__social {
  margin: 4rem 0 4rem;
}

.footer-link {
  font-size: var(--small-font-size);
  color: var(--text-color);
}
